MONGODB_URI=mongodb+srv://rajh39045_db_user:Harsh7091@cluster0.7hhaabi.mongodb.net/resq?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=hdhfgdgdrgdg
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=https://res-q-system.vercel.app/